body {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url('https://storage.googleapis.com/webdesignledger.pub.network/LaT/edd/2016/02/tan-antique-vintage-paper-texture-2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4 {
  font-family: 'Trade Winds', cursive !important;
}

div, p {
  font-family: 'Merienda', cursive !important;
}

.page-header {
  border-bottom: 1px solid black !important;
  padding-bottom: 25px !important;
  padding-top: 30px !important;
}

.captain-img {
  margin-right: 20px;
  margin-top: -10px;
  height: auto;
  width: 200px;
  padding-bottom: 25px;
}

.container, .page-header {
  max-width: 750px;
  margin: auto !important;
}

.instructions-text {
  font-size: 20px;
  line-height: 33px;
  font-weight: 900;
}

.davey-jones-container {
  display: flex;
  align-items: center;
}

.davey-jones-img {
  width: 250px;
  height: auto;
  margin-right: 20px;
  margin-bottom: 30px;
}

.puzzle {
  float: left;
  padding-right: 10px;
}
