<!-- Modal -->
<div class="modal fade" id="gameOverModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Better Luck Next Time!</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <!-- <div class="modal-body">
        ...
      </div> -->
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="gameBoard.newGame();">Start New Game</button>
      </div>
    </div>
  </div>
</div>

<button ng-click="gameBoard.newGame();">New Game!</button>
<div class="jumbotron">
  <div ng-repeat="letter in gameBoard.puzzle track by $index" class="puzzle">
    <h1 class="display-4">{{ letter }}</h1>
  </div>

  <form name="guessLetter" style="clear: both;">
    <div class="form-group">
      <input type="text" ng-model="gameBoard.letter" maxlength="1">
    </div>
    <button type="submit" class="btn btn-primary" ng-click="gameBoard.submitLetter()">Submit</button>
  </form>
</div>

<div ng-show="gameBoard.showIncorrect">
  <h3>Incorrect Letters ({{ gameBoard.guessesLeft }}
    <span ng-show="gameBoard.guessesLeft > 1">guesses</span>
    <span ng-show="gameBoard.guessesLeft == 1">guess</span> left!)
  </h3>
  <div ng-repeat="letter in gameBoard.incorrectLetters track by $index" class="puzzle">
    <h4 class="display-4">{{ letter }}</h4>
  </div>
</div>
